// 全局公用色彩

// 页面
.page {
  min-height: 100%;
}

// 布局相关
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editor-page {
  height: 100%;
  overflow: auto;
  &-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-bottom: 5px;
    margin: 15px 0 10px 0;
    border-bottom: 1px solid #EEE;
    > span {
      margin-left: 5px;
    }
  }
  &-content {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
    background: #FFF;
  }
  &-btns {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
  }
  .ivu-form-item {
    margin-bottom: 15px;
  }
  .ivu-form-item-error-tip {
    position: absolute;
    left: 270px;
    top: 0;
    text-align: right;
    padding-top: 0;
    line-height: 34px;
  }
  h2 {
    margin: 10px 0;
  }
}

.switch-label {
  color: #888;
  &.active {
    color: #000;
  }
}


.detail {
  &-item {
    font-size: 12px;
    display: flex;
    padding: 8px 0;
    align-items: center;
    label {
      width: 60px;
      color: #888;
    }
    .longer-label {
      width: 105px
    }
  }
}


